
*,
*:before,
*:after {
  box-sizing: border-box;
}

.imageuploadcard{
  background-color: white;
  padding: 2%;
  border-radius: 10px ;
  
}
.App{
  background-color: #F6F8FB;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}
.imagecontainer{
  background-color: #F6F8FB;
  /* border: dashed 1px blue ; */
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='blue' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 16px;
}

.text{
  color: #BDBDBD;
}

.inputfile{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    display: inline 
}
.urlinput{

  border: none;
}
.label{
  color: white;
  background-color: #2F80ED;
  border-radius: 10px;
}

.label:focus ,
.label:hover {
	outline: -webkit-focus-ring-color auto 5px;
}
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0b0b0b;
  display: grid;
  place-items: center;
}
.loader{
  background-color: white;
  border-radius: 10px;
 
  
}



